@page "/creators"
@using Microsoft.AspNetCore.Identity
@using the_squad_server.Data
@using the_squad_server.Models
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject CreatorManager<Creator> _CreatorManager
@inject AuthenticationStateProvider AuthenticationStateProvider


@if (weHaveCreators)
{
    <div class="text-center">
    <hr />
    <h3>The Squad Content Creators</h3>
    <hr />
    </div>
    <div class="container-fluid p-3">
        <div class="row justify-content-center">
            @foreach (var creator in allCreators)
            {
                if (creator.Active == true)
                {
                    <div class="col">
                        <div class="card mx-auto m-3" style="max-width: 600px;">
                            <div class="card-header bg-info-subtle text-center">
                                <img class="profile-image mb-1"
                                    src="@creator.ProfilePictureUrl"
                                    alt="Card image cap" />
                                <h2>@creator.UserName</h2>
                            </div>
                            <ul class="list-group list-group-flush">
                                @if (creator.StreamingServices.Count > 0)
                                {
                                    @foreach (var ss in creator.StreamingServices)
                                    {
                                        <li class="list-group-item">
                                            <div class="container text-center">
                                                <div class="row align-items-center">
                                                    <div class="col-4 mx-auto">
                                                        <img class="stream-site d-block mx-auto" src="@ss.LogoUrl" />
                                                            @if (ss.Name != "YouTube")
                                                            {
                                                                <a class="btn btn-outline-info m-3 text-nowrap" role="button"
                                                                    href="@ss.ServiceUrl" target="_blank">
                                                                    Follow Me
                                                                </a>
                                                            } else
                                                            {
                                                                <a class="btn btn-outline-info m-3 text-nowrap" role="button"
                                                                    href="@ss.ServiceUrl" target="_blank">
                                                                    Subscribe
                                                                </a>                                                                
                                                            }
                                                    </div>
                                                    <div class="col align-self-center">
                                                        @if (ss.Name == "Twitch.TV")
                                                        {
                                                            <iframe src=@(ss.VideoUrl+"&amp;autoplay=1&mute=1")
                                                                frameborder="0" allowfullscreen="true" scrolling="no" height="171"
                                                                width="304" class="d-block mx-auto"></iframe>
                                                        }
                                                        else if (ss.Name == "YouTube")
                                                        {
                                                            <iframe width="304" height="171" 
                                                                src=@(ss.VideoUrl+"&amp;autoplay=1&mute=1") title="YouTube video player" 
                                                                frameborder="0" 
                                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                                                allowfullscreen></iframe>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                                @if (creator.Games.Count > 0)
                                {
                                    <li class="list-group-item">
                                        <div class="container text-center">
                                            <div class="row align-items-right">
                                                <h5>Games I Play</h5>
                                            </div>
                                            <div class="row align-items-center">
                                                @foreach (var game in creator.Games)
                                                {
                                                    <div class="col">
                                                        <img class="img-thumbnail"
                                                            src="@game.ImageUrl"
                                                            alt="@game.Name">
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
@code {
    bool weHaveCreators = false;
    private List<Creator> allCreators = new List<Creator>();

    protected override async Task OnInitializedAsync()
    {
        GetCreators();
    }

    private void GetCreators()
    {
        allCreators = _CreatorManager.GetCreatorsAll();
        if (allCreators.Any())
        {
            weHaveCreators = true;
        }
    }
}