@page "/servers"
@using Microsoft.AspNetCore.Identity
@using System.Text.Json
@using System.Text.Json.Serialization
@using the_squad_server.API
@using the_squad_server.Models
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject APIService<Server> _APIService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILogger<Servers> logger;

<h3>What Server Do You Want To Play On?</h3>
<br /><br /><br />

<AuthorizeView>
    <Authorized>
        <div class="container">
            <div class="row">
                @if (@context.User.IsInRole("SevenDaysToDieSQUAD") || @context.User.IsInRole("Administrators"))
                {
                    <div class="col">
                        <div class="card" style="width: 25rem;">
                            <div class="card-header text-center bg-primary bg-gradient text-light">
                                7 Days to Die: The Squad
                            </div>
                            <img class="card-img-top"
                                style="margin-top: 15px;margin-bottom: 15px; margin-left: auto; margin-right: auto; width: 23rem; "
                                src="https://7daystodie.com/images/header_g.png" alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Server Defaults to Offline after 30min of no activity</li>
                                <li class="list-group-item">Server Will automatically backup after each play session if at
                                    least one player connected for more than 5 minutes.</li>
                            </ul>
                            <div class="card-body">
                                <table class="table" style="width: 15em;">
                                    <tr>
                                        <td>Server Status: @statusText</td>
                                        <td>
                                            <div style="width:25px;height:25px;background-color:@color;" />
                                        </td>
                                    </tr>
                                </table>

                                @if (serverUp)
                                {
                                    <button type="button" @onclick=@(() => startServer(new Server()))
                                        class="btn btn-sm btn-primary">Start Server</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-secondary" disabled>Start Server</button>
                                }
                                <span style="width:10px;" />
                                <button type="button" class="btn btn-sm btn-primary" @onclick="serverOnline">Check Server
                                    Status</button>
                            </div>
                            <div class="card-footer text-muted">
                                Open to the full Squad
                            </div>
                        </div>
                    </div>
                }
                @if (@context.User.IsInRole("SevenDaysToDiePRIVATE") || @context.User.IsInRole("Administrators"))
                {
                    <div class="col">
                        <div class="card" style="width: 25rem;">
                            <div class="card-header text-center bg-success bg-gradient text-light">
                                7 Days to Die: Private Server
                            </div>
                            <img class="card-img-top"
                                style="margin-top: 15px;margin-bottom: 15px; margin-left: auto; margin-right: auto; width: 23rem; "
                                src="https://7daystodie.com/images/header_g.png" alt="Card image cap">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Server Defaults to Offline after 30min of no activity</li>
                                <li class="list-group-item">Server Will automatically backup after each play session if at
                                    least one player connected for more than 5 minutes.</li>
                            </ul>
                            <div class="card-body">
                                <table class="table" style="width: 15em;">
                                    <tr>
                                        <td>Server Status: @statusText</td>
                                        <td>
                                            <div style="width:25px;height:25px;background-color:@color;" />
                                        </td>
                                    </tr>
                                </table>

                                @if (serverUp)
                                {
                                    <button type="button" @onclick=@(() => startServer(new Server()))
                                        class="btn btn-sm btn-primary">Start Server</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-secondary" disabled>Start Server</button>
                                }
                                <span style="width:10px;" />
                                <button type="button" class="btn btn-sm btn-primary" @onclick="serverOnline">Check Server
                                    Status</button>
                            </div>
                            <div class="card-footer text-muted">
                                Just Josh and Katie
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You're not loggged in.</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    private IdentityUser user = new IdentityUser();

    bool serverUp = false;
    string color = "grey";
    string statusText = "unknown";
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    System.Security.Claims.ClaimsPrincipal CurrentUser;
    Creator? CreatorModel = new Creator();

    Random randomGenerator = new Random();
    async Task startServer(Server _server)
    {
        bool _valid = false;
        user = await _UserManager.GetUserAsync(CurrentUser);
        foreach (var role in _server.ServerRoleNames)
        {
            var UserResult = await _UserManager.IsInRoleAsync(user, role.Name);
            if (UserResult)
            {
                logger.LogInformation(string.Format(
                    "{0} - UserId: {1} UserName: {2}; Is in approved role: {3}; Requested start server {4}:{5};",
                    DateTime.UtcNow.ToString("o", System.Globalization.CultureInfo.InvariantCulture),
                    user.Id,
                    user.UserName,
                    role,
                    _server.Name,
                    _server.Id
                ));
                _valid = true;
                break;
            }
        }
        if (_valid)
        {
            await _APIService.PostServerActionAsync(_server);
        }
        
    }
    void serverOnline()
    {
        var random2 = randomGenerator.Next(2);
        if (random2 == 0)
        {
            serverUp = true;
            color = "red";
            statusText = "Offline";
        }
        else
        {
            serverUp = false;
            color = "green";
            statusText = "Online";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = (await authenticationStateTask).User;
        serverOnline();
    }
}